%div.hero-unit
  %h1 hawt
  %p You like to watch, don't you?
  -if !current_user
    %a.btn.btn-primary{:href => '/login'}
      Login with GitHub to see your watched repositories

-if current_user
  %h2 Watched Repositories
  %div.items
    %dl.dl-horizontal
      -@watched.each do |repo|
        %dt
          %a{:href => repo.html_url}=[repo.owner.login, repo.name].join '/'
        %dd=repo.description
  %ul.pager
    -if @watched.links.prev
      %li
        %a{:href => "/?page=#{@page - 1}"} Previous
    -if @watched.links.next
      %li
        %a{:href => "/?page=#{@page + 1}"} Next
